source [find interface/stlink.cfg]
# OpenOCD 0.12 的 ST-Link HLA 驱动使用 hla_swd。
if {[adapter name] eq "hla"} {
    transport select hla_swd
} else {
    transport select swd
}
source [find target/stm32l4x.cfg]
adapter speed 1000
